<div>
   
  
  
  <div class="hero-section">
    <h1>
      Alimentando Sueños, Nutriendo Comunidades: ¡Juntos, Hacemos la Diferencia!
    </h1>
    <p>
      En nuestro compromiso por construir un mundo más solidario y justo, cada
      donación de alimentos es un paso hacia adelante, un rayo de esperanza que
      ilumina el camino hacia un futuro donde todas las comunidades, sin importar
      su origen o circunstancias, puedan prosperar y alcanzar su máximo potencial.
    </p>

    <!-- <button class="donate-button">Dona Ya!</button> -->
  </div>
  <div class="footer" id="sobre nosotros">
    <h3>Sobre nosotros</h3>
    <p>
      Nuestro sistema de donación de alimentos trabaja en estrecha colaboración
      con organizaciones benéficas locales para recolectar alimentos excedentes de
      establecimientos comerciales, agricultores y otros proveedores. Luego,
      clasificamos y distribuimos estos alimentos a través de una red de puntos de
      distribución estratégicamente ubicados, que incluyen comedores comunitarios,
      refugios para personas sin hogar, escuelas y otras instituciones benéficas.
      Además de la distribución directa de alimentos, también nos comprometemos a
      educar a la comunidad sobre la importancia de reducir el desperdicio de
      alimentos y fomentar prácticas alimentarias sostenibles. Trabajamos para
      sensibilizar sobre el impacto del hambre y el desperdicio de alimentos en
      nuestra sociedad, promoviendo la participación activa de individuos y
      empresas en nuestra misión. Nuestro sistema de donación de alimentos se basa
      en principios de transparencia, eficiencia y colaboración, y buscamos
      constantemente formas innovadoras de mejorar nuestros procesos para
      maximizar el alcance de nuestra ayuda y minimizar nuestro impacto ambiental.
    </p>

    <div class="container">
      <div class="slider">
        <div class="slide mission">
          <div class="content">
            <h2>Misión</h2>
            <p>
              Facilitar el acceso equitativo a alimentos nutritivos y de calidad
              para aquellos que más lo necesitan, al mismo tiempo que reducimos el
              desperdicio de alimentos y promovemos la solidaridad comunitaria.
            </p>
          </div>
          <img src="assets/img/img1.webp" alt="Imagen Misión" />
        </div>
        <div class="slide mision">
          <div class="content">
            <h2>Visión</h2>
            <p>
              Ser líderes en la creación de un sistema de donación de alimentos
              eficiente y sostenible, que garantice que ninguna persona pase
              hambre en nuestras comunidades, al tiempo que fomentamos una cultura
              de responsabilidad ambiental y solidaridad.
            </p>
          </div>
          <img src="assets/img/img2.webp" alt="Imagen Visión" />
        </div>

      </div>
    </div>
  </div>


  <footer class="bg-dark text-white text-center text-lg-start">
    <div class="container p-4">
      <div class="row g-3">
        <div class="col-md-6">
          <h5 class="text-uppercase">Acerca de nosotros</h5>
          <p class="text-justified">
            Bienvenidos a Food Donation, el sistema de donación de alimentos y productos que
            conecta generosidad con necesidad.
            Nuestra misión es simple pero poderosa: reducir el desperdicio de alimentos y llevar productos esenciales a
            quienes más lo necesitan.
            A través de nuestro sistema innovador, facilitamos la conexión entre donantes y organizaciones benéficas
            para crear un impacto positivo en nuestras comunidades.</p>
        </div>
        <div class="col-md-6" style="padding-left: 10vh;">
          <h5 class="text-uppercase">Contactos</h5>
          <ul class="list-unstyled">
            <li><i class="bi bi-telephone-fill"></i> <strong>Briseyda Ana Alvarez Sequeiros</strong></li>
            <li><i class="bi bi-envelope-fill" class="tabulado"></i> balvarezs&#64;fcpn.edu.bo</li>
            <li><i class="bi bi-telephone-fill"></i><strong>Edgar Cuiza Apaza</strong></li>
            <li><i class="bi bi-envelope-fill" class="tabulado"></i> ecuizaa&#64;fcpn.edu.bo</li>
            <li><i class="bi bi-telephone-fill"></i><strong>Gabriel Fernando Mamani Catari</strong></li>
            <li><i class="bi bi-envelope-fill" class="tabulado"></i> gmamanic3&#64;fcpn.edu.bo</li>
            <li><i class="bi bi-telephone-fill"></i><strong>Limbert Siñani Nina</strong></li>
            <li><i class="bi bi-envelope-fill" class="tabulado"></i> lsinanin&#64;fcpn.edu.bo</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

</div>
<!-- app.component.html o cualquier otro componente de Angular -->

<!-- JavaScript para Bootstrap -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>