<button type="button" class="btn btn-custom-azul" (click)="display()">Recargar</button>
<div class="container my-4">
  <!-- <a (click)="urlGetAllAlimentos()" >Recargar</a> -->
  <p style="text-align: center;">Aquí se listan las donaciones recibidas por el sistema de donaciones. Estos aportes son vitales para nuestra operación.</p>
  <h2 class="title-uppercase">Alimentos</h2>
  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#IDAlimento</th>
        <th scope="col">F_Vencimiento</th>
        <th scope="col">Estado</th>
        <th scope="col">Tipo</th>
        <th scope="col">Cantidad</th>
        <!-- <th scope="col">Rechazar</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ali of alimentos">
        <th scope="row">{{ ali.idAlimento }}</th>
        <td>{{ ali.fecha_Vencimiento }}</td>
        <td>{{ ali.estado }}</td>
        <td>{{ ali.tipo }}</td>
        <td>{{ ali.cantidad }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="container my-4">
<h2 class="title-uppercase">Productos</h2>
<!-- <a (click)="urlGetAllAlimentos()" >Recargar</a> -->
<table class="table table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#IDProducto</th>
      <th scope="col">Estado</th>
      <th scope="col">Tipo</th>
      <th scope="col">Cantidad</th>
      <!-- <th scope="col">Rechazar</th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of productos">
      <th scope="row">{{ p.idProducto }}</th>
      <td>{{ p.estado }}</td>
      <td>{{ p.tipo }}</td>
      <td>{{ p.cantidad }}</td>
    </tr>
  </tbody>
</table>
</div>
