<button type="button" class="btn btn-custom-azul" (click)="urlGetAllReceptores()">Recargar</button>

<h2 class="title-uppercase">receptores</h2>
<p style="text-align: center;">Los datos de los receptores se detallan a continuación, estos constituyen una parte esencial de nuestro sistema.</p>
<div class="container my-4">
<table class="table table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <!-- <th scope="col">#id</th> -->
      <th scope="col">Nombre de Usuario</th>
      <th scope="col">Apellido</th>
      <th scope="col">Correo</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Estado Gral.</th>
      <th scope="col">Razón Social</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let volunt of receptores">
      <!-- <th scope="row">{{volunt.id}}</th> -->
      <td>{{volunt.nombreUser}}</td>
      <td>{{volunt.apellidoUser}}</td>
      <td>{{volunt.correo}}</td>
      <td>{{volunt.telefono}}</td>
      <td>{{volunt.estado}}</td>
      <td>{{volunt.nombreOrg}}</td>
    </tr>
  </tbody>
</table>

</div>
