<button type="button" class="btn btn-custom-azul" (click)="display()">Recargar</button>
<h2 class="title-uppercase">voluntarios</h2>
<p style="text-align: center;">Los detalles de nuestros voluntarios se describen a continuación. Su compromiso es fundamental para nuestro sistema.</p>
<div class="container my-4">
<table class="table table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <!-- <th scope="col">#id</th> -->
      <th scope="col">Nombre de Usuario</th>
      <th scope="col">Apellido</th>
      <th scope="col">Correo</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Estado Gral.</th>
      <th scope="col">Subrol</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let volunt of listaDeVoluntarios">
      <!-- <th scope="row">{{volunt.id}}</th> -->
      <td>{{volunt.nombreUser}}</td>
      <td>{{volunt.apellido}}</td>
      <td>{{volunt.correo}}</td>
      <td>{{volunt.telefono}}</td>
      <td>{{volunt.estadoGeneralUser}}</td>
      <td>{{volunt.subrol}}</td>
    </tr>
  </tbody>
</table>


</div>